.loginbox{
	width:100%;
	min-height:800px;
	background:url('../images/bbg.png');
}
.box{
	width:611px;
	height:444px;
	position:absolute;
	top:25%;
	left:35%;
    background:url('../images/1.png');
}
.rob1{
	height:75px;
	width:100%;
	font-size:30px;
	color:#e15845;
	line-height:75px;
	text-align:center;
	font-weight:bold;
}
.rob{
	height:75px;
	width:100%;
	text-align:center;
	line-height:75px;
}
.rob input{
	width:250px;
	background:#fff;
	marign-left:110px;
	font-size:18px;
	margin-top:5px;
}
.lbtn{
	width:300px;
	height:55px;
	background:#e55145;
	font-size:25px;
	color:#fff;
	font-weight:800;
	margin:auto;
	margin-top:40px;
	line-height:55px;
	border-radius:5px;
}
.lbtn a{
	color:#fff;
}

